/* .modal_wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}

.modal_backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;  
    z-index: 100;
    background-color: rgba(0,0,0,0.3);
    
} */

.modal_box{
    position: 'fixed';
    top: '50%';
    left: '50%';
    transform: 'translate(-50%, -50% )';
    padding: '50px';
    z-index: 10000;

}

.overlay{
    position: 'fixed';
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: 'rgba(0,0,0, .7)';
    z-index: 10000;
}

input {
 border: 2px solid #00ff00;  
 background-color: black;
 text-decoration-color: white;  
 text-align: center;
 color: white; 
 border-radius: 24px;
 transition: 0.25s;   
}

input:focus{
    width: 280px;
}